*{
    font-family: work sans;
    margin: 0px;
}

.banner {
    background: url(images/banner/banner1.png);
    height: 800px;
    background-repeat: no-repeat;
}

.banner-title {
    padding-top: 216px;
    padding-left: 650px;
    padding-right: 50px;
    
}


.first-part-title {
    color: var(--Dark-01, #151414);
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
   
    font-weight: 700;
}     

.first-part-description {
    color: var(--Dark-02, #444343);
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 50px;
    
}

.contact {
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 70%;
   

}

ul {
    list-style: none;
}

ul li {

    padding-bottom: 10px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   
}

.second-part {
    display: flex;
}

.aje-baje {
     padding-top: 400px;
     padding-left: 80px;
}

.imag {
     margin-top: 140px;
     margin-left: 80px;
}

.failure {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 24px;
}

.failure-description {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 22px;
    padding-right: 250px;
}

i {
    color: #16D887;
}